body {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 100%;
}

#text {
    text-align: center;
    color: white;
}

h1 {
    text-transform: uppercase;
}

.all-stuff {
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;

}